h1
{
    border:solid red;
    margin: inherit;
    margin-bottom: -28px;
    text-align: center;
}
body
{
    margin: 30px 200px 0px 200px;
}
.content
{
    border:solid red;
    display: inline-block;
    margin: inherit;
    text-align: center;
}
.img
{
    margin: 50px 100px 50px 100px;
    width: 250px;
    height: 250px;
}
.icon
{
    float: right;
    float: top;
    width: 70px;
    height: 70px;
}
h2
{
    float: left;
}
.price
{
    float: bottom;
    float: left;
    width: 100px;
    height: 70px;
    margin-top: 0px;
}
.strap
{
    margin-top: -150px;
    float: right;
    float: bottom;
    top: -100px;
}
.box
{
    width: 70px;
    height: 70px;
}